    //Variables Setup 
    $tablet-breakpoint: 48rem; // 768px
    $desktop-breakpoint: 80rem; // 1280px
    $body-font: "AvenirNext LT Pro";
    $primary-color: #323232;
    $secondary-color: #FAFAFA;
    $white-color: #FFFFFF;
