@use 'partials/mixins' as *;
@use 'partials/fonts' as *;
@use 'partials/variables' as *;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  
}



body {
    margin: 0;
    padding: 0;
    font-family: $body-font;
    color:  #323232;
  }

ul {
    margin-block-start: 1em;
    margin-block-end: 0em;
    
}

li {
    list-style: none;
   
}




.header {
    padding-top: 1rem;
    border-bottom: 1px solid white;
    background-color: #323232;


    @include tablet {
        padding-top: 0rem;


    }

}
  
.nav {
    @include tablet {
        display: flex;
        height: 4.5rem;
    }

    &__logo {
        height: 30px;  
        display: flex;
        justify-content: center;

        @include tablet {
         
            max-height: 26px;  
            align-items: center;
            margin: auto 1rem auto 2rem;


        }
    }


    &__lists{
        display: flex;
        width: 100%;
        margin-block-start: 0;
        justify-content: center;

    


    
        @include tablet{
            width: 30%;  

        }

    }

    &__list{
        display: inline-flex;
        width: 100%;
        height: 100%;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        color: white;
        margin: auto 2rem auto 2rem;
        font-weight: 700;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-inline-start: 0rem;
        margin-inline-end: 0rem;
        &--active{
            font-family: "AvenirNextLTPro";
            font-weight: bold;
            border-bottom: 4px #FFFFFF solid;
        }
        @include tablet {
            padding: 0rem;
            font-size: 14px;
            font-family: $subheader-font;
        }
    
    }

    &__link {
        color: white;
        text-decoration: none;
        border-bottom: 1px solid whe;

    }
}

.hero {

    background-image: url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 280px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;

    &__overlay{
        width: 100%;
        height: 100%;
        background-color: #323232;
        position: absolute;
        opacity: 0.5;
        z-index: 0;
    }
    &__title {
        color: white;
        position: absolute;
        margin-left: 2rem;
        font-size: 1.5rem;
        z-index: 1;

        @include tablet {
            font-size: 3.4rem;
            font-family: $subheader-font;
        }
    }

    @include tablet{
        height: 530px;
    }


    @include desktop{
        height: 580px;
    }



}


.about{
    @include tablet{
        width: 90%;
        display: flexbox;
        margin: auto;

    }

    &__title-sec {
        margin-left: 0rem;
        font-weight: 600;
        font-family: $subheader-font; 
        margin: 2.75rem 1rem 1rem 1rem;


        @include tablet{
            font-size: 2.2rem;
     
        }
        

    }

    &__container-bio{
        display: flex;
        flex-direction: column;    
        width: 90%;
        padding: 1rem;     
        margin: auto;   
    }
    &__image {
        object-fit: cover;
        aspect-ratio: 16/9;
        width: 100%;
        object-position: bottom;
        width: 100%;

        max-height: 20rem;

        @include tablet {

            max-height: 38rem;
        }  
        @include desktop {

        }
    }
    &__quote{
        margin: 1.6rem auto auto auto;
        line-height: 2rem;
        font-family: $subheader-font;
        flex-wrap: wrap;
        @include tablet{
            font-size: 1.5rem;
     
        }

    }

    &__auth{
        margin: 1rem auto auto 0;
        font-weight: 600;
        font-family: $subheader-font;


    }

    &__container-des{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        @include tablet{
            width: 90%;
            display: flexbox;
            margin: auto;

    
        }
        
    }

    &__title-des {
        margin-left: 0rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
  
        

    }

    
    &__para-container{
        line-height: 1.5;

        @include tablet {
            display: flex;
            flex-direction: row;
        }

    }

    &__para{
        margin-bottom: 1rem;
        @include tablet {
            padding: 0rem 3rem 0rem 0rem;
        }

    }



}

.gallery{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    padding:2.4rem 1.6rem 0rem 1.6rem;

    &__title {
        font-size: 2.2rem;
        font-weight: 600;
        font-family: $subheader-font;
    }

    &__image {
        padding: 1rem 0rem ;
        @include tablet {
            width: 33%;
            padding: 0.8rem 0.8rem ;
        
        }
        
    }
    &__container {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 1rem;
        
        }
        
    }
    @include desktop{
        padding: 3rem 9rem 3rem 9rem;
    }
}

.footer {
    padding:2.4rem 1.6rem;
    background-color: #323232;
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    margin: auto;



    &__title {
        
        margin-bottom: 0;
        padding-bottom: 0;
        order: 1;
        font-size: 2.25rem;
    
        font-family: "AvenirNextLTPro-Demi";
        font-weight: 500;
        
    }

    &__social{
        order: 2;
        display: flex;
        align-items: center;
        
        @include tablet{
           flex-basis: 444px;
           margin-left: 2rem;
        }
        @include desktop {

        }
    }

    &__image {
  
        padding: 1rem 1rem 0rem 0rem;
        
        @include tablet{
            padding-top: 0;
        }
      
    }



    &__contact{
        order: 3;
        @include tablet {
            order: 4;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

        }

        @include desktop {
            justify-content: start;
    
        }
    }

    &__container-contact{
        margin-top: 2rem;
        font-size: 16px;
        line-height: 1.5;
        @include tablet {
            width: 33%;
           
        }
    }


     &__contact-title{
        font-family: $subheader-font;
     }


    &__image-logo{
        order: 4;
        width: 12.5rem;
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
        
        @include tablet {
            width: 8.5rem;
            order: 3;
            margin: 0rem 0rem;
            padding: 0rem 0rem;
            max-height: 40px;
            
        }
    }

    &__copyright {
        order: 5;
        @include tablet{
            margin-top: 2.4rem;
        }
        @include desktop{
            margin-top: 5rem;
        }
    }

    @include tablet {
        padding:3rem 2.2rem 2.4rem 2.2rem;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
    }

    @include desktop{
        padding:3rem 10rem 3rem 10rem;
    }



}