@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/woff2/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/woff/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/ttf/AvenirNextLTPro-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/woff2/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/woff/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/ttf/AvenirNextLTPro-Demi.woff.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNext LT Pro";
}

ul {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

li {
  list-style: none;
}

.header {
  padding-top: 1rem;
  border-bottom: 1px solid white;
  background-color: #323232;
}
@media screen and (min-width: 48rem) {
  .header {
    padding-top: 0rem;
  }
}

@media screen and (min-width: 48rem) {
  .nav {
    display: flex;
    height: 4.5rem;
  }
}
.nav__logo {
  height: 30px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .nav__logo {
    margin-left: 3rem;
    max-height: 26px;
    align-items: center;
  }
}
.nav__lists {
  display: flex;
  width: 100%;
}
.nav__list {
  display: inline-flex;
  width: 100%;
  height: 100%;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0.75rem 0.5rem;
  font-weight: 700;
}
@media screen and (min-width: 48rem) {
  .nav__list {
    padding: 0rem;
  }
}
.nav__link {
  color: white;
  text-decoration: none;
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 280px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}
.hero__overlay {
  width: 100%;
  height: 100%;
  background-color: #323232;
  position: absolute;
  opacity: 0.5;
  z-index: 0;
}
.hero__title {
  color: white;
  position: absolute;
  margin-left: 1rem;
  font-size: 1.5rem;
  z-index: 1;
}
@media screen and (min-width: 48rem) {
  .hero {
    height: 400px;
  }
}

.about__title {
  margin-left: 1rem;
  font-weight: 600;
}
.about__container-bio {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
.about__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -o-object-position: bottom;
     object-position: bottom;
  width: 100%;
  max-height: 12.5rem;
}
.about__container-des {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.gallery {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
}
.gallery__title {
  margin-left: 1rem;
  font-size: 1.5rem;
}
.gallery__image {
  padding: 0.5rem 1rem;
}
@media screen and (min-width: 48rem) {
  .gallery__image {
    width: 33%;
  }
}
.gallery__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .gallery__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer {
  background-color: #323232;
  color: #FAFAFA;
}
.footer__title {
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 0;
}
.footer__copyright {
  margin-bottom: 0;
}/*# sourceMappingURL=bio.css.map */