@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/woff2/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/woff/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/woff2/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/woff/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/woff2/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/woff/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNext LT Pro";
  color: #323232;
}

ul {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

li {
  list-style: none;
}

a {
  margin: 0rem 0rem;
}

.header {
  padding-top: 0.75rem;
  background-color: #323232;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 48rem) {
  .header {
    padding-top: 0rem;
  }
}

.nav {
  background-color: #323232;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .nav {
    display: flex;
    height: 4.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav {
    height: 6rem;
    display: flex;
    margin: 0 auto;
    max-width: 63.75rem;
  }
}
.nav__logo {
  height: 1.875rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .nav__logo {
    max-height: 1.625rem;
    align-items: center;
    margin: auto 1rem auto 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav__logo {
    margin-left: 0rem;
  }
}
.nav__lists {
  display: flex;
  width: 100%;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .nav__lists {
    width: 30%;
    justify-content: start;
  }
}
.nav__list {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .nav__list {
    padding: 0rem;
    font-size: 0.875rem;
    font-weight: 600;
    width: auto;
    display: flex;
    justify-content: baseline;
    margin: auto 2rem auto 2rem;
  }
}
.nav__link {
  width: 100%;
  color: white;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
}
.nav__link--nonactive:hover {
  border-bottom: 4px #FFFFFF solid;
}
.nav__link--active {
  border-bottom: 4px #FFFFFF solid;
}

.footer {
  padding: 2.4rem 1.6rem;
  background-color: #323232;
  color: #FAFAFA;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.footer__title {
  margin-bottom: 0;
  padding-bottom: 0;
  order: 1;
  font-size: 2.25rem;
  font-weight: 600;
}
.footer__social {
  order: 2;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .footer__social {
    flex-grow: 1;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__social {
    margin-left: 3.8rem;
  }
}
.footer__image {
  margin-top: 0.5rem;
  padding: 1rem 2.75rem 0rem 0rem;
  height: 3rem;
}
@media screen and (min-width: 48rem) {
  .footer__image {
    margin-top: 0rem;
    height: 2rem;
    padding: 0.7rem 1rem 0rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__image {
    padding: 0.7rem 2rem 0rem 0rem;
  }
}
.footer__contact {
  order: 3;
}
@media screen and (min-width: 48rem) {
  .footer__contact {
    order: 4;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
@media screen and (min-width: 80rem) {
  .footer__contact {
    justify-content: start;
    flex-grow: 2;
  }
}
.footer__contact-company {
  margin-bottom: 1rem;
}
.footer__contact-state {
  margin-bottom: 1rem;
}
.footer__contact-country {
  margin-bottom: 1rem;
}
.footer__container-contact {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.5;
}
@media screen and (min-width: 48rem) {
  .footer__container-contact {
    font-size: 0.8rem;
    margin-right: 3.81rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__container-contact {
    margin-right: 5.7rem;
  }
}
.footer__email {
  color: white;
  text-decoration: none;
}
.footer__contact-title {
  font-weight: 600;
}
.footer__image-logo {
  order: 4;
  width: 12.5rem;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .footer__image-logo {
    width: 8.5rem;
    order: 3;
    margin: 0rem 0rem;
    padding: 0.5rem 0rem 0rem 0rem;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
  }
}
.footer__copyright {
  order: 5;
}
@media screen and (min-width: 48rem) {
  .footer__copyright {
    margin-top: 2.4rem;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__copyright {
    margin-top: 3rem;
    display: block;
    width: 100%;
  }
}
.footer__container {
  background-color: #323232;
  color: #FAFAFA;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .footer__container {
    margin: auto;
    padding: 0rem;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
  }
}
@media screen and (min-width: 80rem) {
  .footer__container {
    max-width: 63.75rem;
    justify-content: center;
  }
}

.hero {
  background-image: linear-gradient(to top, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 17.5rem;
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__title-container {
  display: flex;
  margin: 0rem auto 0rem 1.6rem;
}
@media screen and (min-width: 48rem) {
  .hero__title-container {
    margin: 0rem auto 0rem 2.25rem;
    justify-content: flex-start;
    max-width: 63.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__title-container {
    width: 63.75rem;
    margin: 0rem auto;
  }
}
.hero__title {
  color: white;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    display: flex;
    width: 100%;
    font-size: 3.4rem;
    width: 100%;
  }
}
@media screen and (min-width: 80rem) {
  .hero__title {
    font-size: 4rem;
    letter-spacing: 0.1rem;
  }
}
@media screen and (min-width: 48rem) {
  .hero {
    justify-content: flex-start;
    height: 29rem;
    margin-top: 4.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero {
    height: 45.5rem;
    margin-top: 6.01rem;
  }
}

.about {
  padding: 1rem;
}
@media screen and (min-width: 48rem) {
  .about {
    display: flexbox;
    margin: auto;
  }
}
.about__title-sec {
  font-weight: 600;
  font-size: 2.25rem;
  margin: 2.75rem 1rem 1rem 1rem;
}
@media screen and (min-width: 48rem) {
  .about__title-sec {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__title-sec {
    margin-left: 0rem;
  }
}
.about__container-bio {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem 0;
  margin: auto;
}
@media screen and (min-width: 48rem) {
  .about__container-bio {
    padding: 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__container-bio {
    padding: 1rem 4rem 1rem 4rem;
  }
}
.about__image {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  width: 100%;
  -o-object-position: bottom;
     object-position: bottom;
  width: 100%;
  max-height: 20rem;
}
@media screen and (min-width: 48rem) {
  .about__image {
    max-height: 38rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__image {
    max-height: 48rem;
  }
}
.about__quote {
  margin: 1.6rem auto auto auto;
  line-height: 1.5rem;
  font-weight: 600;
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .about__quote {
    line-height: 2rem;
    font-size: 1.5rem;
    margin: 1.6rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__quote {
    justify-content: center;
    max-width: 44.4rem;
  }
}
.about__auth {
  margin: 1rem auto auto 0;
  font-weight: 600;
}
.about__container-des {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__container-des {
    width: 90%;
    display: flexbox;
    margin: auto;
  }
}
@media screen and (min-width: 80rem) {
  .about__container-des {
    padding: 1rem 4rem 1rem 4rem;
  }
}
.about__title-des {
  margin-left: 0rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .about__title-des {
    font-size: 1.5rem;
    line-height: 2.75rem;
  }
}
.about__para-container {
  line-height: 1.5;
}
@media screen and (min-width: 48rem) {
  .about__para-container {
    display: flex;
    flex-direction: row;
  }
}
.about__para {
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__para {
    padding: 0rem 1.5rem 0rem 0rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .about {
    display: flex;
    margin: 0 auto;
    max-width: 63.75rem;
    flex-direction: column;
    justify-content: center;
    padding: 0rem;
  }
}

.gallery {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  padding: 2.4rem 1.6rem 0rem 1.6rem;
}
.gallery__title {
  font-size: 2.25rem;
  font-weight: 600;
}
.gallery__image {
  padding: 1rem 0rem;
}
@media screen and (min-width: 48rem) {
  .gallery__image {
    width: 33.3%;
    padding: 0.9rem 1.8rem 0.9rem 0rem;
  }
}
.gallery__image--cornor {
  padding-right: 0;
}
.gallery__image-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .gallery__image-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-right: 0;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__container {
    display: flex;
    max-width: 63.75rem;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0rem;
  }
}

.conv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.conv__section-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0rem 0rem 2rem 0rem;
}
@media screen and (min-width: 48rem) {
  .conv__section-title {
    font-size: 2.25rem;
    margin: 1rem 0rem 2rem 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .conv__section-title {
    margin: 3rem 0rem 2rem 0rem;
  }
}
.conv__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
}
.conv__name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.conv__email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.conv__name-label {
  color: #AFAFAF;
  margin-bottom: 1rem;
}
.conv__comment-label {
  color: #AFAFAF;
  margin-bottom: 1rem;
}
.conv__name-input {
  font-size: 1rem;
  width: 100%;
  background-color: #FAFAFA;
  border-radius: 4px;
  border: 2px solid #E1E1E1;
  height: 3rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.conv__comment-input {
  background-color: #FAFAFA;
  font-size: 1rem;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #E1E1E1;
  height: 8rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  margin: 1rem 0rem;
}
.conv__btn {
  width: 100%;
  height: 4.6rem;
  background-color: #323232;
  color: #FFF;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1.5rem;
}
.conv__btn:hover {
  background-color: black;
  cursor: pointer;
}
.conv__btn :active {
  cursor: pointer;
}
@media screen and (min-width: 48rem) {
  .conv__btn {
    width: 33%;
    height: 3.2rem;
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .conv__btn {
    width: 44%;
  }
}
.conv__btn-cont {
  display: flex;
}
@media screen and (min-width: 48rem) {
  .conv__btn-cont {
    height: 3.6rem;
    width: 100%;
    justify-content: flex-end;
  }
}
.conv__profile {
  display: flex;
  width: 13%;
  justify-content: flex-end;
}
.conv__profile-img {
  margin-top: 1.3rem;
  margin-right: 1.4rem;
  width: 2.75em;
  height: 2.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.3rem;
}
.conv__section {
  padding: 2.4rem 1.6rem 0rem 1.6rem;
}
@media screen and (min-width: 80rem) {
  .conv__section {
    display: flex;
    max-width: 63.75rem;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0rem;
  }
}
@media screen and (min-width: 48rem) {
  .conv {
    max-width: 63.75;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    width: 80%;
    max-width: 40rem;
  }
}
@media screen and (min-width: 80rem) {
  .conv {
    max-width: 63.75;
    width: 50%;
  }
}

.comments {
  padding: 1rem 1.6rem 0rem 1.6rem;
}
.comments__user-cont {
  width: 85%;
}
.comments__user-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comments__comment-cont {
  display: flex;
  flex-direction: row;
}
.comments__avatar-cont {
  justify-content: flex-end;
  border-radius: 1.3rem;
  width: 2.75rem;
  height: 2.75rem;
  background-color: #E1E1E1;
  margin-right: 1.18rem;
}
.comments__comment-cont {
  padding: 1rem 0rem;
  border-top: 0.5px solid #E1E1E1;
  border-bottom: 0.5px solid #E1E1E1;
}
@media screen and (min-width: 48rem) {
  .comments__comment-cont {
    margin: 0rem auto;
    padding: 2rem 0rem;
    width: 80%;
    max-width: 40rem;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 80rem) {
  .comments__comment-cont {
    width: 61%;
  }
}
.comments__comment-cont--fnode {
  border-top: 1px solid #E1E1E1;
}
.comments__comment-cont--lnode {
  border-bottom: 1px solid #E1E1E1;
}
.comments__name {
  font-weight: 600;
  margin-bottom: 1rem;
}
.comments__date {
  color: #AFAFAF;
}
.comments__new-sec {
  opacity: 0.5;
}
@media screen and (min-width: 48rem) {
  .comments__new-sec {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    width: 80%;
    max-width: 34rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments__new-sec {
    width: 60%;
  }
}
@media screen and (min-width: 48rem) {
  .comments {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments {
    display: flex;
    max-width: 63.75rem;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0rem;
    width: 65%;
    max-width: 52rem;
  }
}/*# sourceMappingURL=bio.css.map */