@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/woff2/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/woff/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/ttf/AvenirNextLTPro-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../assets/fonts/woff2/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/woff/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/ttf/AvenirNextLTPro-Demi.woff.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/woff2/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/woff/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/ttf/AvenirNextLTPro-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: bold;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNext LT Pro";
  color: #323232;
}

ul {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

li {
  list-style: none;
}

.header {
  padding-top: 1rem;
  border-bottom: 1px solid white;
  background-color: #323232;
}
@media screen and (min-width: 48rem) {
  .header {
    padding-top: 0rem;
  }
}

@media screen and (min-width: 48rem) {
  .nav {
    display: flex;
    height: 4.5rem;
  }
}
.nav__logo {
  height: 30px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .nav__logo {
    max-height: 26px;
    align-items: center;
    margin: auto 1rem auto 2rem;
  }
}
.nav__lists {
  display: flex;
  width: 100%;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .nav__lists {
    width: 30%;
  }
}
.nav__list {
  display: inline-flex;
  width: 100%;
  height: 100%;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto 2rem auto 2rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-margin-start: 0rem;
          margin-inline-start: 0rem;
  -webkit-margin-end: 0rem;
          margin-inline-end: 0rem;
}
.nav__list--active {
  font-family: "AvenirNextLTPro";
  font-weight: bold;
  border-bottom: 4px #FFFFFF solid;
}
@media screen and (min-width: 48rem) {
  .nav__list {
    padding: 0rem;
    font-size: 14px;
    font-family: "AvenirNextLTPro-Demi";
  }
}
.nav__link {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid whe;
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 280px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}
.hero__overlay {
  width: 100%;
  height: 100%;
  background-color: #323232;
  position: absolute;
  opacity: 0.5;
  z-index: 0;
}
.hero__title {
  color: white;
  position: absolute;
  margin-left: 2rem;
  font-size: 1.5rem;
  z-index: 1;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    font-size: 3.4rem;
    font-family: "AvenirNextLTPro-Demi";
  }
}
@media screen and (min-width: 80rem) {
  .hero__title {
    font-size: 5rem;
  }
}
@media screen and (min-width: 48rem) {
  .hero {
    height: 530px;
  }
}
@media screen and (min-width: 80rem) {
  .hero {
    height: 600px;
  }
}

@media screen and (min-width: 48rem) {
  .about {
    width: 90%;
    display: flexbox;
    margin: auto;
  }
}
.about__title-sec {
  margin-left: 0rem;
  font-weight: 600;
  font-family: "AvenirNextLTPro-Demi";
  margin: 2.75rem 0rem 1rem 0rem;
}
@media screen and (min-width: 48rem) {
  .about__title-sec {
    font-size: 2.2rem;
  }
}
.about__container-bio {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
  margin: auto;
}
.about__image {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  width: 100%;
  -o-object-position: bottom;
     object-position: bottom;
  width: 100%;
  max-height: 20rem;
}
@media screen and (min-width: 48rem) {
  .about__image {
    max-height: 38rem;
  }
}
.about__quote {
  margin: 1.6rem auto auto auto;
  line-height: 2rem;
  font-family: "AvenirNextLTPro-Demi";
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .about__quote {
    font-size: 1.5rem;
  }
}
.about__auth {
  margin: 1rem auto auto 0;
  font-weight: 600;
  font-family: "AvenirNextLTPro-Demi";
}
.about__container-des {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__container-des {
    width: 90%;
    display: flexbox;
    margin: auto;
  }
}
.about__title-des {
  margin-left: 0rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.about__para-container {
  line-height: 1.5;
}
@media screen and (min-width: 48rem) {
  .about__para-container {
    display: flex;
    flex-direction: row;
  }
}
.about__para {
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__para {
    padding: 0rem 2.4rem 0rem 0rem;
    font-size: 0.8rem;
  }
}
.gallery {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  padding: 2.4rem 1.6rem 0rem 1.6rem;
}
.gallery__title {
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "AvenirNextLTPro-Demi";
}
.gallery__image {
  padding: 1rem 0rem;
}
@media screen and (min-width: 48rem) {
  .gallery__image {
    width: 33%;
    padding: 0.8rem 1rem 0.8rem 0rem;
  }
}
.gallery__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .gallery__container {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .gallery {
    padding: 3rem 4rem 1rem 4rem;
  }
}

.footer {
  padding: 2.4rem 1.6rem;
  background-color: #323232;
  color: #FAFAFA;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.footer__title {
  margin-bottom: 0;
  padding-bottom: 0;
  order: 1;
  font-size: 2.25rem;
  font-family: "AvenirNextLTPro-Demi";
  font-weight: 500;
}
.footer__social {
  order: 2;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .footer__social {
    flex-grow: 1;
    margin-left: 2rem;
  }
}
.footer__image {
  padding: 1rem 1rem 0rem 0rem;
}
@media screen and (min-width: 48rem) {
  .footer__image {
    padding-top: 0;
  }
}
.footer__contact {
  order: 3;
}
@media screen and (min-width: 48rem) {
  .footer__contact {
    order: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 80rem) {
  .footer__contact {
    justify-content: start;
    width: 77%;
  }
}
.footer__container-contact {
  margin-top: 2rem;
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (min-width: 48rem) {
  .footer__container-contact {
    width: 33%;
  }
}
.footer__email {
  color: white;
  text-decoration: none;
}
.footer__contact-title {
  font-family: "AvenirNextLTPro-Demi";
}
.footer__image-logo {
  order: 4;
  width: 12.5rem;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .footer__image-logo {
    width: 8.5rem;
    order: 3;
    margin: 0rem 0rem;
    padding: 0rem 0rem;
    max-height: 40px;
  }
}
.footer__copyright {
  order: 5;
}
@media screen and (min-width: 48rem) {
  .footer__copyright {
    margin-top: 2.4rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__copyright {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer {
    padding: 3rem 2.2rem 2.4rem 2.2rem;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding: 3rem 10rem 3rem 10rem;
  }
}/*# sourceMappingURL=bio.css.map */